---
import Todo from "../../components/Todo.svelte";
import Layout from "../../layouts/Layout.astro";
const listCard = [
  {
    id:1,
    title: "Breaking News: Earthquake Hits City",
    author: "John Smith",
    content:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, urna id aliquet tincidunt, nunc nisl ultrices nunc, id lacinia nunc nunc id nunc.",
  },
  {
    id:2,
    title: "New Study Reveals Benefits of Exercise",
    author: "Jane Doe",
    content:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, urna id aliquet tincidunt, nunc nisl ultrices nunc, id lacinia nunc nunc id nunc.",
  },
  {
    id:3,
    title: "Technology Trends for 2023",
    author: "David Johnson",
    content:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, urna id aliquet tincidunt, nunc nisl ultrices nunc, id lacinia nunc nunc id nunc.",
  }
];
---

<Layout title="List Product">
  <main class="h-full" class:list={'active'}>
    <h2 class="w-full h-10 text-center text-white font-bold text-3xl mb-10">About Page</h2>
    <Todo client:hover listCard={listCard} typeClient="hover">
    <!-- <Todo client:visible listCard={listCard} typeClient="visible">
    <Todo client:only listCard={listCard} typeClient="only">
    <Todo client:media="(min-width: 768px)" listCard={listCard} typeClient="media"> -->
  </main>
</Layout>
